<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Projects Page</h2>
  <br>
  {{#link-to 'about' class="button"}}
    About Me
  {{/link-to}}
</div>

{{#each model as |project| }}
  <article class="project-list">
    <h3>{{project.title}}</h3>
    <div class="detail title">
      <span>Title:</span> {{project.title}}
    </div>
    <div class="detail type">
      <span>Type:</span> {{project.type}}
    </div>
    <div class="detail description">
      <span>Description:</span> {{project.description}}
    </div>
    <div class="detail image">
      <span>Title:</span> {{project.image}}
    </div>
  </article>

{{/each}}
